* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

.container {
    width: 90%;
    max-width: 600px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.7); /* Ajustando a opacidade para uma cor mais escura */
    padding: 3rem 2rem;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    position: relative;
    text-align: center;
}

.container__informacoes {
    width: 100%;
    margin-bottom: 2rem;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    
}

.container__texto {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.container__campo label {
    font-size: 1rem;
    margin-bottom: 600rem;
}

.container__input {
    width: 100%;
    max-width: 500px;
    height: 3rem;
    border-radius: 8px;
    background-color: #FFF;
    border: 2;
    color: #000;
    padding: 0.75rem;
    font-size: 0.75rem;
    font-weight: 500;
}

.container__botoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.container__botao {
    border-radius: 8px;
    background: #1875E8;
    padding: 0.5rem 1rem; /* Reduzindo o padding do botão */
    font-size: 0.75rem; /* Reduzindo o tamanho da fonte do botão */
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.container__botao:hover {
    background: #0f5bb5;
}

.container__botao-desabilitado {
    border-radius: 8px;
    background: #6f6f70;
    padding: 0.5rem 1rem; /* Reduzindo o padding do botão desabilitado */
    font-size: 0.75rem; /* Reduzindo o tamanho da fonte do botão desabilitado */
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: not-allowed;
}

.texto__paragrafo {
    font-size: 1rem; /* Tamanho da fonte do texto ajustado */
    font-weight: 400;
    margin-top: 2rem;
}

button:disabled {
    background-color: gray;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 2rem 1rem;
    }

    .container__input {
        font-size: 0.875rem;
    }

    .container__botao, .container__botao-desabilitado {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    .container__texto, .texto__paragrafo {
        font-size: 1.25rem;
    }
}

#resultado {
    margin-top: 40px; /* Adicionando uma margem superior de 20px */
}
.titulo-palindromo {
    color: #1875E8; /* Cor azul desejada */
}
